/* ==== */
/* main */

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr;
  grid-template-columns: 240px 1fr;
}

.main-right {
  position: relative;
  background: var(--color-blue-dark);
}

/* main */
/* ==== */


/* ====== */
/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding:  12px 40px 13px 30px;
  width: 100%;
  background: var(--color-black);
}

.header.vip {
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile-imgs {
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin-right: 15px;
  padding:  4px;
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__profile-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background: var(--color-blue-light);
}

.header.vip .header__profile-imgs {
  border: 1px solid var(--color-blue-light);
}

.header.vip .header__profile-img {
  background: #d0b358;
}

.header__profile-name {
  margin-bottom: 6px;
  font-family: var(--font-dis);
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--color-white);
}

.header.vip .header__profile-name {
  color: var(--color-light-blue);
}

.header__profile-status {
  display: inline-block;
  border: 1px solid var(--color-white);
  padding: 5px 5px 3px;
  font-family: var(--font-dis);
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}

.header.vip .header__profile-status {
  border: none;
  background: var(--color-blue-light);
}

.header.vip .header__profile-status span {
  background-color: #e8c862;
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  width: 26px;
  height: 21px;
  background: transparent;
  cursor: pointer;
}

.header__burger-item {
  border-radius: 10px;
  width: 100%;
  height: 2px;
  background: #fff;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  margin-right: 30px;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__options {
  position: relative;
  display: block;
  margin-right: 29px;
  padding-right: 27px;
}

.header__options::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 31px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.1;
  background: var(--color-white);
}

.header__options svg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__options:hover svg {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header__options svg path {
  fill: #828282;
}

.header.vip .header__options svg path {
  fill: var(--color-blue-light);
}

.header.vip .header__options::after {
  background: var(--color-blue-light);
}

.header__logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logout:hover svg {
  -webkit-transform: translateX(3px);
      -ms-transform: translateX(3px);
          transform: translateX(3px);
}

.header__logout svg {
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__logout svg path {
  fill: #828282;
}

.header__logout-text {
  font-family: var(--font-dis);
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.header.vip .header__logout svg path {
  fill: var(--color-blue-light);
}

.header.vip .header__logout-text {
  color: var(--color-blue-light);
}

/* header */
/* ====== */


/* ===== */
/* aside */

.aside {
  position: relative;
  z-index: 2;
  padding-bottom: 30px;
  width: 240px;
  height: 100%;
  min-height: 100vh;
  background: var(--color-blue-light);
}

.aside__header {
  border-bottom: 1px solid var(--color-blue-dark);
  margin-bottom: 45px;
  padding: 11px 25px 12px;
}

.aside__header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__header-link:hover .aside__header-link-img {
  -webkit-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
          transform: translateX(-3px);
}

.aside__header-link-logo {
  margin-right: 20px;
  width: 41px;
  height: 52px;
  -o-object-fit: contain;
     object-fit: contain;
}

.aside__header-link-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__header-link-img {
  margin-right: 15px;
  width: 5px;
  height: 9px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.aside__header-link-span {
  font-family: var(--font-dis);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
}

.aside__tab-button {
  padding: 0 25px;
  color: var(--color-white);
}

.aside__tab-button:first-child {
  margin-bottom: 43px;
}

.aside__tab-item:not(:last-child) {
  margin-bottom: 20px;
}

.aside__tab-title {
  margin-bottom: 16px;
  font-family: var(--font-dis);
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #546269;
}

.aside__tab-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside__tab-item-img {
  margin-right: 13px;
  margin-top: 3px;
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}

.aside__tab-item-name {
  margin-bottom: 2px;
  font-family: var(--font-dis);
  font-size: 16px;
  line-height: 19px;
}

.aside__tab-item-info {
  font-family: var(--font-dis);
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
}

.aside__tab-item_none {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.aside__tab-item_none img {
  opacity: 0;
}

.aside__tab-item_none .aside__tab-item-name {
  background: transparent;
  -webkit-text-fill-color: #546269;
}

.aside__tab-item_none .aside__tab-item-info {
  color: #546269;
  opacity: 0.5;
}

.aside__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--color-blue-dark);
  padding: 18px 25px;
}

.aside__link:first-child {
  border-top: 1px solid var(--color-blue-dark);
}

.aside__link-img {
  margin-right: 15px;
  width: 13px;
  height: 13px;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.aside__link-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.aside__link-img-gold {
  display: none;
}

.aside__link-span {
  font-family: var(--font-dis);
  font-size: 16px;
  line-height: 26px;
  color: var(--color-white);
}

.aside__link.active {
  background: var(--color-blue-dark);
}

.aside__link.active .aside__link-img img {
  display: none;
}

.aside__link.active .aside__link-img .aside__link-img-gold {
  display: block;
}

.aside__link.active .aside__link-span {
  background-color: #e8c862;
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* aside */
/* ===== */


/* ======= */
/* wrapper */

.wrapper {
  padding-bottom: 30px;
}

.wrapper__item {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
  opacity: 0;
  pointer-events: none;
}

.wrapper__item.active {
  position: static;
  opacity: 1;
  pointer-events: auto;
}

/* wrapper */
/* ======= */


/* ====== */
/* custom */

.custom__title {
  margin-bottom: 38px;
}

.custom__form-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
}

.custom__body {
  border-radius: 6px;
  padding: 25px;
  background: #0B1F2A;
}

.custom__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.custom__heading-title {
  font-family: var(--font-dis);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-white);
}

.custom__heading-date {
  font-family: var(--font-dis);
  font-size: 13px;
  line-height: 16px;
  color: #546269;
}

.custom__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom__user-img-container {
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin-right: 30px;
  padding: 5px;
  width: 90px;
  height: 90px;
}

.custom__user-img-container:hover .custom__user-label {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.custom__user-img {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.custom__user-img-main {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom__user-label {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 23px;
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  cursor: pointer;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.custom__user-label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom__user-block {
  padding-top: 10px;
}

.custom__user-name {
  margin-bottom: 7px;
  font-family: var(--font-dis);
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--color-white);
}

.custom__user-visit {
  font-family: var(--font-dis);
  font-size: 13px;
  line-height: 16px;
  color: #546269;
}

.custom__user-visit span {
  color: var(--color-white);
}

.custom__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.custom__line {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: auto 20px 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom__line:not(:last-child) {
  margin-bottom: 20px;
}

.custom__line-span {
  font-family: var(--font-dis);
  font-size: 14px;
  line-height: 17px;
  color: #546269;
}

.custom__line-input-container {
  -ms-grid-column-align: end;
      justify-self: end;
}

.custom__line-input {
  -ms-grid-column-align: end;
      justify-self: end;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  padding: 11px 17px 14px;
  max-width: 295px;
  width: 295px;
  font-family: var(--font-dis);
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
  background: transparent;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.custom__reset {
  width: 100%;
}

.custom__reset .custom__line {
  -ms-grid-columns: 121px 20px 1fr;
  grid-template-columns: 121px 1fr;
}

.custom__reset .custom__line-input {
  max-width: none;
  width: 100%;
}

.custom__line-input:hover,
.custom__line-input:focus {
  border: 1px solid var(--color-white);
}

.custom__line-input::-webkit-input-placeholder {
  font-family: var(--font-dis);
  font-size: 14px;
  line-height: 17px;
  color: #546269;
  opacity: 0.5;
}

.custom__line-input::-moz-placeholder {
  font-family: var(--font-dis);
  font-size: 14px;
  line-height: 17px;
  color: #546269;
  opacity: 0.5;
}

.custom__line-input:-ms-input-placeholder {
  font-family: var(--font-dis);
  font-size: 14px;
  line-height: 17px;
  color: #546269;
  opacity: 0.5;
}

.custom__line-input:-moz-placeholder {
  font-family: var(--font-dis);
  font-size: 14px;
  line-height: 17px;
  color: #546269;
  opacity: 0.5;
}

.custom__line-input-container_telegram,
.custom__line-input-container_instagram {
  position: relative;
  max-width: 295px;
  width: 100%;
}

.custom__line-input-container_telegram input,
.custom__line-input-container_instagram input {
  padding-right: 45px;
}

.custom__line-input-container_telegram::after,
.custom__line-input-container_instagram::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 15px;
  height: 15px;
  background: url('../img/telegram.svg') center / contain no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom__line-input-container_instagram::after {
  background: url('../img/inst.svg') center / contain no-repeat;
}

.custom__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 6px;
  margin-top: 20px;
  padding: 23px 25px 17px;
  background: url('../img/bird-free.png') top center / 101px 100% no-repeat var(--color-black);
}

.custom__status.vip {
  background: url('../img/bird-vip.png') top center / 146px 100% no-repeat, -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: url('../img/bird-vip.png') top center / 146px 100% no-repeat, linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
}

.custom__status_mobile {
  display: none;
}

.custom__status-subtitle {
  margin-bottom: 6px;
  font-family: var(--font-dis);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-white);
}

.custom__status.vip .custom__status-subtitle {
  color: var(--color-blue-light);
}

.custom__status-title {
  font-family: var(--font-dis);
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  background-color: #e8c862;
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom__status.vip .custom__status-title {
  background: transparent;
  color: var(--color-blue-light);
  -webkit-text-fill-color: var(--color-blue-light);
}

.custom__status-right-text {
  font-family: var(--font-dis);
  font-size: 13px;
  line-height: 18px;
  color: #546269;
}

.custom__status.vip .custom__status-right-text {
  line-height: 20px;
  color: #0B1F2A;
}

.custom__status.vip .custom__status-right-text span {
  font-weight: 700;
}

.custom__status-link {
  display: block;
  margin-top: 11px;
  padding: 10px 18px 11px;
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  border-radius: 4px;
}

.custom__status-link span {
  font-family: var(--font-dis);
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #0B1F2A;
}

.custom__status.vip .custom__status-link {
  background: var(--color-blue-light);
}

.custom__status.vip .custom__status-link span {
  background-color: #e8c862;
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom__button {
  outline: none;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  padding: 14px 29px 15px;
  font-family: var(--font-dis);
  font-weight: 700;font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-blue-light);
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
}

/* custom */
/* ====== */


/* ==== */
/* inst */

.inst__title {
  margin-bottom: 28px;
}

.inst__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inst__item:not(:last-child) {
  margin-bottom: 30px;
}

.inst__item-img {
  border-radius: 8px;
  margin-right: 30px;
  width: 350px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.inst__item-title {
  margin-bottom: 12px;
  font-family: var(--font-dis);
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-white);
}

.inst__item-text {
  margin-bottom: 23px;
  font-family: var(--font-dis);
  font-size: 16px;
  line-height: 26px;
  color: #546269;
}

.inst__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inst__item-link:hover img {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.inst__item-link span {
  font-family: var(--font-dis);
  margin-right: 15px;
  font-size: 15px;
  line-height: 18px;
}

.inst__item-link img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

/* inst */
/* ==== */


/* === */
/* ref */

.ref__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.ref__heading-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ref__title {
  margin-right: 13px;
}

.ref__heading-count {
  margin-top: 2px;
  font-family: var(--font-dis);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.ref__heading-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ref__heading-text {
  margin-right: 23px;
  font-family: var(--font-dis);
  font-size: 15px;
  line-height: 18px;
  color: var(--color-white);
}

.ref__heading-link {
  border-radius: 4px;
  padding: 12px 12px 13px;
  background: var(--color-white);
}

.ref__heading-link-img {
  margin-right: 12px;
}

.ref__heading-link-text {
  outline: none;
  border: 0;
  font-family: var(--font-dis);
  font-size: 15px;
  line-height: 18px;
  color: var(--color-blue-light);
  background: transparent;
}

.ref__main-line {
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  -ms-grid-columns: 1fr 35px 1fr;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #192227;
  padding: 18px 20px 21px;
}

.ref__main-line:first-child {
  border: 0;
  border-radius: 4px 4px 0px 0px;
  padding: 13px 20px;
  background: var(--color-blue-light);
}

.ref__main-line-first {
  display: none;
  font-family: var(--font-dis);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-white);
}

.ref__first {
  font-family: var(--font-dis);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-white);
}

.ref__column {
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr;
}

.ref__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ref__text img {
  border-radius: 50%;
  margin-right: 15px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: var(--color-blue-light);
}

.ref__text span {
  font-family: var(--font-dis);
  font-size: 15px;
  line-height: 18px;
  color: var(--color-white);
}

.ref__email {
  font-family: var(--font-dis);
  font-size: 15px;
  line-height: 18px;
  color: var(--color-white);
}

.ref__date {
  font-family: var(--font-dis);
  font-size: 15px;
  line-height: 18px;
  color: #546269;
}

.ref__status {
  font-family: var(--font-dis);
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-white);
}

/* ref */
/* === */


/* ==== */
/* shop */

.shop__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.shop__heading-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__heading-item:not(:last-child) {
  margin-right: 45px;
}

.shop__heading-link {
  font-family: var(--font-dis);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.shop__heading-link {
  -webkit-text-stroke-color: #d3a93e;
  -webkit-text-stroke-width: 1px;
  color: #d3a93e00;
  background: transparent;
  transition: color 0.4s, background 0.4s, -webkit-text-stroke-color 0.4s, -webkit-text-fill-color 0.4s;
}

.shop__heading-link.active {
  background-color: #e8c862;
  background: -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.shop__heading-link.active:hover {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #fff;
  color: #fff;
  background: #fff0;
}

.shop__heading-link:hover {
  -webkit-text-stroke-color: #fff;
}

.shop__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.shop__item {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.shop__item:hover .shop__item-dop-link {
  opacity: 1;
  pointer-events: auto;
}

.shop__item-img-container {
  position: relative;
  width: 100%;
  height: 210px;
}

.shop__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__item-sizes {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 10px 0 0;
  padding: 6px 13px 5px 0;
  background: var(--color-blue-dark);
}

.shop__item-sizes-span {
  font-family: var(--font-dis);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}

.shop__item-sizes-span.active {
  opacity: 0.5;
}

.shop__item-sizes-span:not(:last-child) {
  margin-right: 13px;
}

.shop__item-block {
  padding: 15px 17px 16px;
  background: var(--color-blue-light);
}

.shop__item-name {
  margin-bottom: 3px;
  font-family: var(--font-dis);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-white);
}

.shop__item-lead {
  margin-bottom: 9px;
  font-family: var(--font-dis);
  font-size: 14px;
  line-height: 20px;
  color: #546269;
}

.shop__item-dop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop__item-price {
  font-family: var(--font-dis);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}

.shop__item-dop-link {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* shop */
/* ==== */


/* ====== */
/* lumity */

.lumity__slider:not(:last-child) {
  margin-bottom: 50px;
}

.lumity__slider-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.lumity__slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lumity__slider-button {
  cursor: pointer;
}

.lumity__slider-prev {
  margin-right: 10px;
}

.lumity__slider-container {
  
}

.lumity__slider-item {
  display: block;
  max-width: 255px;
}

.lumity__slider-item:hover .lumity__slider-img-container::before {
  border-color: #E5C35C;
}

.lumity__slider-item:hover .lumity__slider-number {
  background: var(--color-white);
  color: var(--color-blue-light);
}

.lumity__slider-item:hover .lumity__slider-play {
  opacity: 1;
  pointer-events: auto;
}

.lumity__slider-img-container {
  position: relative;
  overflow: hidden;
  border-radius: 11px;
  margin-bottom: 8px;
  width: 100%;
  height: 166px;
}

.lumity__slider-img-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #E5C35C;
  border-color: #ffffff00;
  border-radius: 11px;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.lumity__slider-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 31, 42, 0)), to(#0B1F2A));
  background: -o-linear-gradient(top, rgba(11, 31, 42, 0) 0%, #0B1F2A 100%);
  background: linear-gradient(180deg, rgba(11, 31, 42, 0) 0%, #0B1F2A 100%);
}

.lumity__slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lumity__slider-number {
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: 16px;
  border-radius: 0 4px 4px 0;
  padding: 4px 8px;
  font-family: var(--font-dis);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
  background: #ffffff10;
  -webkit-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}

.lumity__slider-play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 21px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.lumity__slider-watched {
  border-radius: 4px;
  width: 100%;
  height: 2px;
  background: rgba(196, 196, 196, 0.1);
}

.lumity__slider_none {
  position: relative;
}

.lumity__slider_none .lumity__title {
  opacity: 0.2;
}

.lumity__slider_none-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: url('../img/darken.png') top left / 100% 100% no-repeat;
}

.lumity__slider_none-title {
  margin-top: 3px;
  margin-bottom: 15px;
  font-family: var(--font-dis);
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.lumity__slider_none-text {
  margin-bottom: 32px;
  font-family: var(--font-dis);
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: var(--color-white);
}

/* lumity */
/* ====== */


/* ==== */
/* open */

.open {
  margin-bottom: 45px;
}

.open__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}

.open__back:hover .open__back-img {
  -webkit-transform: translateX(-4px);
      -ms-transform: translateX(-4px);
          transform: translateX(-4px);
}

.open__back-img {
  margin-right: 15px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.open__back-text {
  font-family: var(--font-dis);
  font-size: 15px;
  line-height: 18px;
}

.open__title {
  margin-bottom: 28px;
}

.open__img-block {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: 520px 40px 1fr;
  grid-template-columns: 520px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open__img {
  border-radius: 12px;
  width: 520px;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.open__text {
  padding: 15px 0;
  font-family: var(--font-dis);
  font-size: 16px;
  line-height: 26px;
  color: var(--color-white);
}

/* open */
/* ==== */

@media screen and (max-width: 1250px) {
  .custom__status {
    background: url('../img/bird-free.png') 40% 0 / 101px 100% no-repeat var(--color-black);
  }

  .custom__status.vip {
    background: url('../img/bird-vip.png') 40% 0 / 101px 100% no-repeat, -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
    background: url('../img/bird-vip.png') 40% 0 / 101px 100% no-repeat, linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  }

  .shop__list {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .open__img-block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1140px) {
  .custom__form-container {
    grid-gap: 15px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .custom__line-container {
    width: 100%;
  }

  .custom__line {
    -ms-grid-columns: 85px 20px 1fr;
    grid-template-columns: 85px 1fr;
  }

  .custom__line-input {
    max-width: none;
    width: 100%;
  }

  .custom__line-input-container_telegram,
  .custom__line-input-container_instagram {
    max-width: none;
  }

  .custom__status {
    display: none;
  }

  .custom__status_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  .inst__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .inst__item-img {
    margin: 0;
    margin-bottom: 15px;
  }

  .ref__main-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 0;
    padding: 18px 0 21px;
  }

  .ref__main-line:first-child {
    padding: 13px 20px;
  }

  .ref__main-line:first-child .ref__column {
    display: none;
  }

  .ref__main-line-first {
    display: block;
  }

  .ref__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    grid-gap: 0;
  }

  .ref__column:nth-child(2) {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .ref__text {
    margin-bottom: 0;
  }

  .ref__text img {
    margin-right: 10px;
  }

  .ref__email {
    padding-left: 40px;
    font-weight: 300;
  }

  .ref__status {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 6px;
    text-align: right;
  }
}

@media screen and (max-width: 992px) {

  .main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main-left {
    position: absolute;
    left: 100%;
    z-index: 6;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .main-left.active {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .ref__content {
    padding: 0 15px;
  }

  .ref__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .ref__heading-left {
    margin-bottom: 19px;
  }

  .ref__heading-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }

  .ref__heading-text {
    margin: 0;
    margin-bottom: 13px;
  }

  .ref__heading-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .ref__heading-link-text {
    width: 100%;
  }

  .shop__content {
    padding: 0 15px;
  }

  .shop__list {
    grid-gap: 15px;
  }
}

@media screen and (max-width: 768px) {

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #ffffff10;
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
 
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .shop__heading {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .shop__heading-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .shop__heading-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .shop__item-img-container {
    height: 144px;
  }

  .shop__list {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .shop__item-block {
    padding: 8px 8px 12px;
  }

  .shop__item-lead {
    display: none;
  }

  .shop__item-dop-link {
    opacity: 1;
    pointer-events: auto;
  }

  .lumity__content {
    padding: 0 15px;
  }

  .lumity__slider:not(:last-child) {
    margin-bottom: 30px;
  }

  .lumity__slider-heading {
    margin-bottom: 12px;
  }

  .lumity__title {
    font-size: 18px;
    line-height: 24px;
  }

  .lumity__slider-buttons {
    display: none;
  }

  .lumity__slider-container {
    position: relative;
    overflow: unset;
    z-index: 1;
  }

  .lumity__slider_none-content {
    width: calc(100% + 30px);
    -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
            transform: translateX(-15px);
  }

  .open__content {
    padding: 0 15px;
  }

  .open__img-block {
    grid-gap: 20px;
  }

  .open__img {
    width: 100%;
    height: auto;
    max-height: 300px;
  }

  .open__text {
    padding: 10px 0;
  }
}

@media screen and (max-width: 650px) {
  .inst__content {
    padding: 0 15px;
  }

  .inst__item:not(:last-child) {
    margin-bottom: 35px;
  }

  .inst__item-img {
    width: 100%;
    height: auto;
    max-height: 250px;
  }

  .inst__item-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
  }

  .inst__item-text {
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {

  .header {
    padding: 12px 15px 13px;
  }
  
  .header__profile-imgs {
    margin-right: 9px;
    width: 36px;
    height: 36px;
  }

  .header__profile-name {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2px;
  }

  .header__profile-status {
    padding: 3px 3px 1px;
    font-size: 10px;
    line-height: 11px;
  }

  .header__button {
    margin-right: 15px;
  }

  .header__link {
    padding: 11px 15px 13px;
  }

  .header__options {
    margin-right: 17px;
    padding-right: 17px;
  }

  .custom__content {
    padding: 0 15px;
  }

  .custom__title {
    margin-bottom: 23px;
  }

  .custom__body {
    padding: 20px;
  }

  .custom__user {
    margin-bottom: 23px;
  }

  .custom__user-img-container {
    margin-right: 20px;
  }

  .custom__user-name {
    font-size: 15px;
  }

  .custom__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-gap: 0;
  }

  .custom__line-span {
    margin-bottom: 9px;
  }

  .custom__status {
    padding: 23px 10px 17px;
  }

  .custom__status.vip {
    background: url('../img/bird-vip-2.png') 40% 0 / 101px 100% no-repeat, -o-linear-gradient(160.7deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
    background: url('../img/bird-vip-2.png') 40% 0 / 101px 100% no-repeat, linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
  }

  .open__img {
    max-height: 190px;
  }
}